name: Update AWS CDK packages

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch: {}

jobs:
  release:
    name: Publish to Github Packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: '0'
      - name: Update AWS CDK package dependencies
        id: syncer
        uses: ukautz/github-action-npm-scope-syncer@v0.7.1
        with:
          scopes: "@aws-cdk"
          semver: "patch"
          updatePeerDependencies: "true"
          enforcePinning: "false"
          push: "true"
          tagName: "v%NEW_VERSION%"
          debug: "true"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Setup Github Packages Node Environment
        if: steps.syncer.outputs.status == 'updated'
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          registry-url: 'https://npm.pkg.github.com'
      - name: Publish to Github Packages
        if: steps.syncer.outputs.status == 'updated'
        run: |
          npm install
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
